﻿@model VirtualAccountWeb.Areas.ViewModels.Login.LoginViewModel
 @{
    Layout = "~/Views/Shared/_Layout_0.cshtml";
}

<div class="container-fluid ">
    <div class="row" style="margin-top:100px;">
        <div class="col-lg-3 col-md-6 col-sm-11 col-11 card p-4" style="margin-left:auto;margin-right:auto;">

            <h1 class="text-primary text-center">LOGIN</h1>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <form asp-action="Login">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control"  type="email" required/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" class="form-control" required/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group mt-4">
                    <div class="float-end">
                      <button type="submit"
                                class="btn btn-primary btn-min-width">

                                    <i class="bi-key-fill" style="font-size:24px!important"></i>
                            Login
      
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
</div>
