html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.btn, .form-control {
    border-radius: 24px;
}

.control-label {
    margin-left: 10px;
    margin-bottom: 10px;
}

.form-group {
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn-min-width {
    min-width: 125px;
}
